<div class="container">
  <div class="row">
    <!-- perhaps set numbers in col divs and update each in JS function? -->
    <div class="col-6 list-1">
    <% shelters[0...6].each_with_index do |shelter, i| %>
      <% if i.even? %>
        <div class="shelter-container p-3 mb-2">
          <div class="index-shelter-info text-secondary p-2">
            <h4 class="pt-2"><%= shelter.name %></h4>
            <%= display_address(shelter) %><br>
            <%= display_contact(shelter) %><br />
            <p class="index-learn-more"><%= link_to "Learn more", shelter_path(shelter) %></p>
            <br />
          </div>
        </div>
      <% end %>
    <% end %>
    </div>

    <div class="col-6 list-2">
      <% shelters[0...6].each_with_index do |shelter, i| %>
        <% if i.odd? %>
          <div class="shelter-container p-3 mb-2">
            <div class="index-shelter-info text-secondary p-2">
              <h4 class="pt-2"><%= link_to shelter.name, shelter_path(shelter) %></h4>
              <%= display_address(shelter) %><br>
              <%= display_contact(shelter) %><br />
              <p class="index-learn-more"><%= link_to "Learn more", shelter_path(shelter) %></p>
              <br />
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
