<div class="container">
  <div class="row">
    <!-- perhaps set numbers in col divs and update each in JS function? -->
    <div class="col-6">
    <% shelters.each_with_index do |shelter, i| %>
      <% if i.even? %>
        <div class="index-shelter-container bg-white p-3">
          <div class="index-shelter-info bg-secondary p-2">
            <h4><%= link_to shelter.name, shelter_path(shelter) %></h4>
            <%= display_address(shelter) %><br>
            <%= display_contact(shelter) %><br />
            <br />
          </div>
        </div>
      <% end %>
    <% end %>
    </div>

    <div class="col-6">
      <% shelters.each_with_index do |shelter, i| %>
        <% if i.odd? %>
          <div class="index-shelter-container bg-white p-3">
            <div class="index-shelter-info bg-secondary p-2">
              <h4><%= link_to shelter.name, shelter_path(shelter) %></h4>
              <%= display_address(shelter) %><br>
              <%= display_contact(shelter) %><br />
              <br />
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
