<h1 class="p-3 bg-white text-dark">Contributing Shelters:</h1><br />

<h3>Filter Shelters:</h3>
<%= form_tag("/shelters", method: "get") do %>
  <%= select_tag "city", options_for_select(Shelter.all.map {|s| s.address.city}.sort.uniq), include_blank: true %>
  <%= select_tag "state", options_for_select(Shelter.all.map {|s| s.address.state}.sort.uniq), include_blank: true %>
  <%= submit_tag "Filter", class: "mb-3" %>
<% end %>

<%= render partial: 'list', locals: { shelters: @shelters } %>

<!-- data-id issue? -->
<button class="js-next mt-3">Next 6 Shelters</button>
