<h1>Contributing Shelters:</h1><br />

<h3>Filter Shelters:</h3>
<%= form_tag("/shelters", method: "get") do %>
  <%= select_tag "city", options_for_select(Shelter.all.map {|s| s.address.city}), include_blank: true %>
  <%= select_tag "state", options_for_select(Shelter.all.map {|s| s.address.state}), include_blank: true %>
  <%= submit_tag "Filter" %>
<% end %>

<%= render 'list', locals: {shelters: @shelters[(@index_1 * 6)...(@index_2 * 6)]} %>

<!-- data-id issue? -->
<button class="js-next" data-id-1="<%= @index_1 %>" data-id-2="<%= @index_2 %>">Next 6 Shelters</button>
