<h1><%= @shelter.name %></h1>
<p><%= @shelter.address.full_address %></p>

<h4>Pets ready for adoption!</h4>
<% @shelter.pets.each do |pet| %>
  <%= render partial: 'layouts/pet', locals: {pet: pet} %>
<% end %>

<% if current_employee.admin %>
  <%= link_to "Edit Shelter Information", edit_shelter_path(@shelter), class: "btn btn-light mb-3" %>
  <%= link_to 'Delete Account', @shelter, class: "btn btn-light mb-3", method: :delete, data: { confirm: 'Are you sure you would like to delete this shelter and all of its associated accounts?' } %>
<% end %>
