<h1>Log In:</h1>
<%= form_for @user, url: login_path do |f| %>
  <%= f.label :username %><br>
  <%= f.text_field :username %><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br>

  <br>

  <%= f.submit 'Log In', class: "btn btn-light mb-3" %>
<% end %>

<%= link_to "Sign in with Google", '/auth/google_oauth2', id: 'login', class: "btn btn-light mb-3" %>

<p class="pt-3">Don't have an account?</p>
<%= link_to "Sign Up", new_user_registration_path, class: "btn btn-light mb-3" %><br>
