<h1><%= @employee.username %></h1>
<ul>
  <%= link_to @employee.shelter, shelter_path(@employee.shelter) %>
  <h3>Pets taken care of by <%= @employee.username %></h3>
  <% @employee.pets.each do |pet| %>
    <%= pet.name %>
    <%= pet.nickname if !pet.nickname.nil? %>
    <%= pet.animal %>
    <%= pet.age if !pet.age.nil? %>
    <%= pet.breed if !pet.breed.nil? %>
    <%= pet.info if !pet.info.nil? %>
  <% end %>
</ul>
