<% if flash[:message] %>
  <p><%= flash[:message] %></p>
<% end %>

<h1>Become an Adopter!</h1><br>
<%= form_for @user do |f| %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %><br>

  <%= f.label :last_name %>
  <%= f.text_field :last_name %><br>

  <%= f.label :username %>
  <%= f.text_field :username %><br>

  <%= f.label :email %>
  <%= f.text_field :email %><br>

  <%= f.label :password %>
  <%= f.password_field :password %><br>

  <%= f.label 'Have any pets already?' %><br>
  <%= f.fields_for :pets, @user.pets.build do |pets_fields| %>
    <%= pets_fields.label :name %>
    <%= pets_fields.text_field :name %><br>
    <%= pets_fields.label :nickname %>
    <%= pets_fields.text_field :nickname %><br>
    <%= pets_fields.label :animal %>
    <%= pets_fields.text_field :animal %><br>
    <%= pets_fields.label :age %>
    <%= pets_fields.number_field :age %><br>
    <%= pets_fields.label :breed %>
    <%= pets_fields.text_field :breed %><br>
    <%= pets_fields.label 'Any stories to share about them?'%><br>
    <%= pets_fields.text_area :info %><br>
  <% end %>
  <!-- figure out way to add additional pets to form? -->

  <%= f.submit %>
<% end %>
