<h1><%= @user.username %>'s page</h1>

<ul>
  <p><b>Name:</b> <%= @user.full_name %></p>
  <p><b>Email:</b> <%= @user.email %></p>
  <p><b>Address:</b></p>
  <%= display_address(@user) %><br />
<br />
  <% if @user.pets %>
    <p><b><%= link_to "View #{@user.username}'s pets", user_pets_path(@user), id: "view-pets" %></b></p><br>
    <div id="pets-list"></div>
  <% end %>
</ul>

<% if current_user == @user %>
  <%= link_to "Add a pet!", new_user_pet_path(@user), class: "btn btn-light mb-3", id: "add-user-pet" %><br>
<% end %>

<% if current_user == @user %>
  <%= link_to 'Edit Account Info', edit_user_path(current_user), class: "btn btn-light mb-3" %><br>
  <%= link_to 'Delete Account', @user, class: "btn btn-light mb-3", method: :delete, data: { confirm: 'Are you sure you would like to delete your account?' } %>
<% end %>
