<h1>Employee Login:</h1>
<%= form_for @employee, url: employee_login_path do |f| %>
  <%= f.label :username %><br>
  <%= f.text_field :username %><br>

  <%= f.label :password %><br>
  <%= f.password_field :password %><br>

  <br>

  <%= f.submit 'Log In', class: "btn btn-light mb-3" %>
<% end %>

<p class="pt-3">Don't have an account?</p>
<%= link_to "Sign Up", new_employee_registration_path, class: "btn btn-light mb-3" %><br>
