<h4>Name: <%= pet.name %></h4>
<ul>
  <!-- figure out neater way to accomplish same thing (helper_method to collect only certain attributes?) -->
  <p><%= "Nickname: #{pet.nickname}" if pet.nickname != "" %></p>
  <p><%= "Species:  #{pet.animal}"%></p>
  <p><%= "Age: #{pet.age}" if !pet.age.nil? %></p>
  <p><%= "Breed: #{pet.breed}" if pet.breed != "" %></p>
  <p><%= "Info: #{pet.info}" if pet.info != "" %></p>
</ul>
<br />
