<% pets.each do |pet| %>
  <h4>Name: <%= pet.name %></h4>
  <ul>
    <p>Nickname: <%= pet.nickname %></p>
    <p>Species: <%= pet.animal %></p>
    <p>Age: <%= pet.age %></p>
    <p>Breed: <%= pet.breed %></p>
    <p>Info: <%= pet.info %></p>
  </ul>
<% end %>
