<!DOCTYPE html>
<html>
  <head>
    <title>AdoptDontShopRailsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <%= link_to "Home", root_path %>
      <%= link_to "Shelters", root_path %>
      <%= link_to "Adopters", users_path %>
      <% if signed_in? %>
        <%= link_to "Your page", users_path(current_user) %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
